<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=WIN-GTKJ40MT8O9\SQLEXPRESS;Initial Catalog=CustomersQuery;Integrated Security=True; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>